<h1 class="page-header">网站基本信息设置</h1>
<%= form_tag(admin_basic_info_path(@basic_info.id), method: :put, multipart: true, class: "form-horizontal") do -%>
	<div class="form-group">
    <label class="col-sm-2 control-label">标题：</label>
    <div class="col-sm-8">
      <%= text_field_tag 'basic_info[name]', @basic_info.name, placeholder: '网站标题', class: "form-control" %>
    </div>
  </div>
	<div class="form-group">
    <label class="col-sm-2 control-label">网站备案号：</label>
    <div class="col-sm-8">
      <%= text_field_tag 'basic_info[icp]', @basic_info.icp, placeholder: '网站备案号', class: "form-control", rows: 5 %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">网站正方形logo：</label>
    <div class="col-sm-8">
      <div class="col-sm-6">
        <%= image_tag @basic_info.logo_square.url, class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-3">
        <%= file_field_tag "basic_info[logo_square]", class: "form-control" %>
        <%= link_to_if @basic_info.logo_square.exists?, '删除图片', '/admin/basic_infos/delete_pic?id=' + @basic_info.id.to_s + '&target=logo_square', method: :delete %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">网站长方形logo：</label>
    <div class="col-sm-8">
      <div class="col-sm-6">
        <%= image_tag @basic_info.logo_rectangle.url, class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-3">
        <%= file_field_tag "basic_info[logo_rectangle]", class: "form-control" %>
        <%= link_to_if @basic_info.logo_rectangle.exists?, '删除图片', '/admin/basic_infos/delete_pic?id=' + @basic_info.id.to_s + '&target=logo_rectangle', method: :delete %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">微信公众号二维码：</label>
    <div class="col-sm-8">
      <div class="col-sm-6">
        <%= image_tag @basic_info.wx_qr_code.url, class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-3">
        <%= file_field_tag "basic_info[wx_qr_code]", class: "form-control" %>
        <%= link_to_if @basic_info.wx_qr_code.exists?, '删除图片', '/admin/basic_infos/delete_pic?id=' + @basic_info.id.to_s + '&target=wx_qr_code', method: :delete %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= submit_tag '保存', class: "btn btn-default" %>
    </div>
  </div>
<% end -%>
