<h1 class="page-header">网站图片编辑</h1>
<%= form_tag(admin_picture_path(@picture.id), method: :put, multipart: true, class: "form-horizontal") do -%>
	<div class="form-group">
    <label class="col-sm-2 control-label">标题：</label>
    <div class="col-sm-8">
      <%= text_field_tag 'picture[title]', @picture.title, placeholder: '标题', class: "form-control" %>
    </div>
  </div>
	<div class="form-group">
    <label class="col-sm-2 control-label">描述：</label>
    <div class="col-sm-8">
      <%= text_area_tag 'picture[description]', @picture.description, placeholder: '图片的简短描述', class: "form-control", rows: 5 %>
    </div>
  </div>
	<div class="form-group">
    <label class="col-sm-2 control-label">图片类型：</label>
    <div class="col-sm-3">
      <%= select_tag 'picture[pic_type]', options_for_select(Picture.type_array, @picture.pic_type), class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">图片内容：</label>
    <div class="col-sm-8">
      <%= file_field_tag "picture[content]", class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= submit_tag '保存', class: "btn btn-primary" %>
    </div>
  </div>
<% end -%>
