<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "1-slide-r.jpg", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>标题</h1>
          <p>我是占位符</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "2-slide-r.jpg", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>标题</h1>
          <p>我是占位符</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "3-slide-r.jpg", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>标题</h1>
          <p>我是占位符</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">立即购买>></a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="floor01">
  <div class="box">
    <div class="right">
      <h1>相机，专为骑行</h1>
      <p>Camile支持1080p30、720p60录像，</p>
      <p>配以140°广角镜头和电子防抖，</p>
      <p>轻松应对各种复杂骑行环境，</p>
      <p>让您不丢失每一个精彩瞬间。</p>
      <p><a href="/index.php/camile/camera">进一步了解相机 &gt;</a></p>
    </div>
  </div>
</div>

<div class="floor02">
  <div class="box text-center">
    <div class="col-xs-4">
      <span class="span1">
        <%= image_tag "floor02_01.png", class: "img-responsive center-block" %>
      </span>
      <a>1080P/720P</a>
    </div>
    <div class="col-xs-4">
      <span class="span2">
        <%= image_tag "floor02_02.png", class: "img-responsive center-block" %>
      </span>
      <a>140°广角镜头</a>
    </div>
    <div class="col-xs-4">
      <span class="span3">
        <%= image_tag "floor02_03.png", class: "img-responsive center-block" %>
      </span>
      <a>电子防抖</a>
    </div>
  </div>
</div>

<div class="floor03">
  <div class="box">
    <div class="top">
      <h1>GPS码表，精准高效</h1>
      <p>Camile采用GPS、6轴运动和高度计等传感器，</p><p>优化的硬件设计实现GPS快速定位，加上先进的融合算法，</p>
      <p>实现3个维度的精准定位，让您的骑行无需等待。</p>
      <p><a href="#">进一步了解GPS码表 &gt;</a></p>
    </div>
    <div class="bottom">
      <ul>
        <li id="li1" class="translateRightBig wow animated" style="visibility: visible; animation-name: translateRightBigTo;">
        <%= image_tag "floor03_01.png", class: "img-responsive" %>
        </li>
        <li id="li2" class="translateRight wow animated" style="visibility: visible; animation-name: translateRightTo;">
        <%= image_tag "floor03_02.png", class: "img-responsive" %>
        </li>
        <li id="li3" class="translateRightSlow wow animated" style="visibility: visible; animation-name: translateRightSlowTo;">
        <%= image_tag "floor03_03.png", class: "img-responsive" %>
        </li>
        <li id="li4" class="animated translateLeft wow" style="visibility: visible; animation-name: translateLeftTo;">
        <%= image_tag "floor03_04.png", class: "img-responsive" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="floor04">
  <div class="box row">
    <div class="left col-md-6">
      <h1>超大容量，从不错过</h1>
      <p>Camile整合1350mAh电池，可连续拍摄3小时，</p>
      <p>32G超大容量内存支持8小时连续拍摄，</p>
      <p>GPS码表独立工作可达16小时，</p>
      <p>保证您的骑行无忧。</p>
      <!-- <p><a  href="">进一步了解容量 ></a></p> -->
    </div>
    <div class="right col-md-6">
      <ul>
        <li id="li1" style="width: 535px; display: list-item;">
        <div class="textbox1" style="display: block;">
          <span id="span1">
            <a id="num1" class="num">3</a>
            <a>小时</a>
          </span>
          <span id="span2">连续拍摄</span>
        </div>
        </li>
        <li id="li2" style="width: 535px; display: list-item;">
        <div class="textbox2" style="display: block;">
          <span id="span1">
            <a id="num2" class="num">16</a>
            <a>小时</a>
          </span>
          <span id="span2">GPS码表独立工作</span>
        </div>
        </li>
        <li id="li3" style="width: 535px; display: list-item;">
        <div class="textbox3" style="display: block;">
          <span id="span1">
            <a id="num3" class="num">8</a>
            <a>小时</a>
          </span>
          <span id="span2">视频存储</span>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="floor05">
  <div class="box">
    <div class="top">
      <h1>还有么？</h1>
      <p>Camile 内置蓝牙4.0模块，支持来电提醒，</p>
      <p>未来的可能，期待与您一起探索。</p>
      <!-- <p><a href="/index.php/camile/parameter">进一步了解更多可能 ></a></p> -->
    </div>
    <div class="middle">
      <ul>
        <li class="wow animated" style="visibility: visible;">
        <div class="picbox">
          <span class="span1">
            <%= image_tag "floor05_01.png" %>
          </span>
          <a>内置蓝牙4.0</a>
        </div>
        </li>
        <li class="wow animated" style="visibility: visible;">
        <div class="picbox">
          <span class="span2">
            <%= image_tag "floor05_02.png" %>
          </span>
          <a>来电提醒</a>
        </div>
        </li>
        <li class="wow animated" style="visibility: visible;">
        <div class="picbox">
          <span class="span4">
            <%= image_tag "floor05_03.png" %>
          </span>
          <a>更多</a>
        </div>
        </li>
      </ul>
    </div>
    <div class="bottom">
      <div>
        <%= image_tag "floor05_04.png", class: "wow bounce infinite animated", style: "visibility: visible; animation-name: bounce;" %>
      </div>
      <div style="margin-top: 30px">
        <%= image_tag "floor05_05.png" %>
      </div>
    </div>
  </div>
</div>

<div class="floor06">
  <div class="box">
    <div class="top">
      <h1>精彩视频</h1>
      <p>骑行的美好，Camile为您悉心记录。</p>
      <p>
      <a href="/index.php/video">查看更多视频 &gt;</a>
      </p>
    </div>
    <div class="bottom row text-center">
      <div class="col-md-4">
        <%= image_tag "floor06_01.jpg", 'data-src' => "http://player.youku.com/embed/XMTQ0MDA2MDM0MA==", class: "img-responsive center-block" %>
        <span id="black" style="bottom: 0px;">海口·浪漫日光之旅</span>
      </div>
      <div class="col-md-4">
        <%= image_tag "floor06_02.jpg", 'data-src' => "http://player.youku.com/player.php/sid/XMTM2NzQ5NDU4NA==/v.swf", class: "img-responsive center-block" %>
        <span id="black">杭州·西湖苏堤行</span>
      </div>
      <div class="col-md-4">
        <%= image_tag "floor06_02.jpg", 'data-src' => "http://player.youku.com/player.php/sid/XNzk5MTEwNTY0/v.swf", class: "img-responsive center-block" %>
        <span id="black">漠河·一路向北</span
      </div>
    </div>
  </div>
</div>
