<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "1-slide.jpg", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1></h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "2-slide.jpg", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1></h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "3-slide.jpg", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1></h1>
          <p></p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">立即购买>></a></p> -->
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="floor">
  <div class="floor-head">
    <h2>商业应用</h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag "app01.jpeg", class: "img-responsive center-block" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "app02.jpeg", class: "img-responsive center-block" %>
    </div>
  </div>
</div>

<div class="floor">
  <div class="floor-head">
    <h2>精彩视频</h2>
    <a data-no-turbolink='true' href="/videos">查看更多视频 &gt;</a>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="video-box">
        <%= image_tag "floor06_01.jpg", 'data-src' => "http://player.youku.com/embed/XMTgyMjEwNzU0MA==", class: "img-responsive center-block video-pic" %>
        <span>智鹍宣传片02</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="video-box">
        <%= image_tag "floor06_02.jpg", 'data-src' => "http://player.youku.com/embed/XMTgyNTA2MDA0NA==", class: "img-responsive center-block video-pic" %>
        <span>杭州智鹍科技有限公司样片</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="video-box">
        <%= image_tag "floor06_03.jpg", 'data-src' => "http://player.youku.com/embed/XMTYxNzAwNTI3Mg==", class: "img-responsive center-block video-pic" %>
        <span>智鹍宣传片</span>
      </div>
    </div>
  </div>
</div>

<div class="floor-bottom">
  <div class="floor-head" style="text-align: left;">
    <h2>精彩活动</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-xs-8">
        <%= image_tag "activity.jpeg", class: "img-responsive center-block" %>
      </div>
      <div class="col-xs-4">
      </div>
    </div>
    <div class="col-md-6">
      <ul class="activities-list">
        <li> 2016-08-27 | 浙西之游</li>
        <li> 2016-08-18 | 区科技局领导莅临我司指导工作</li>
      </ul>
    </div>
  </div>
</div>

<div id="video-show" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <iframe id="video-content" width="100%" height="200px" src="" frameborder=0 'allowfullscreen'></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('.video-pic').click(function() {
  $('#video-show').modal();
  $('#video-show .modal-header h4').text($(this).next().text());
  $('#video-content').attr('src', $(this).attr('data-src'));
    });
$('#video-show').on('hidden.bs.modal', function(e) {
  $('#video-content').attr('src', '');
})
</script>
