<%= form_tag(feedbacks_path, method: :post, class: "form-horizontal feedback-new-form") do -%>
	<div class="form-group">
    <label class="col-sm-2 control-label">Email：</label>
    <div class="col-sm-8">
      <%= text_field_tag 'feedback[email]', '', placeholder: '电子邮件', class: "form-control" %>
    </div>
  </div>
	<div class="form-group">
    <label class="col-sm-2 control-label">手机号：</label>
    <div class="col-sm-8">
      <%= text_field_tag 'feedback[phone]', '', placeholder: '手机号', class: "form-control" %>
    </div>
  </div>
	<div class="form-group">
    <label class="col-sm-2 control-label">反馈内容：</label>
    <div class="col-sm-8">
      <%= text_area_tag 'feedback[content]', '', placeholder: '反馈内容', class: "form-control", rows: 10 %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= submit_tag '保存', class: "btn btn-default" %>
    </div>
  </div>
<% end -%>
