<!DOCTYPE html>
<html>
<head>
  <title>智鹍科技</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'logo.jpg' %>
  <%= csrf_meta_tags %>
</head>
<body style="margin: 0px;">
  <div class="flash-msg row" style="margin-left: 0px;margin-right: 0px;">
    <div class="alert alert-dismissible col-md-offset-4 col-md-4 col-xs-12 flash-div" role="alert" style="display: none;">
      <button class="close" type="button" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">关闭</span>
      </button>
    </div>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">智鹍科技</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        	<% if current_user && current_user.admin? %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.display_name %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "管理", "/admin/dashboard/index" %></li>
            <li><%= link_to "退出", logout_path %></li>
          </ul>
        </li>
          <% end %>
          <li><a href="#">关于</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="<%= params[:controller] == 'admin/dashboard' ? 'active' : ''%>"><a href="/admin/dashboard/index">网站信息设置</a></li>
          <li class="<%= params[:controller] == 'admin/pictures' ? 'active' : ''%>"><a href="/admin/pictures">网站图片设置</a></li>
          <li><a href="#">首页产品内容设置</a></li>
          <li class="<%= params[:controller] == 'admin/videos' ? 'active' : ''%>"><a href="/admin/videos">精彩视频设置</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li class="<%= params[:controller] == 'admin/activities' ? 'active' : ''%>"><a href="/admin/activities">新闻设置</a></li>
          <li class="<%= params[:controller] == 'admin/jobs' ? 'active' : ''%>"><a href="/admin/jobs">招聘岗位设置</a></li>
          <li class="<%= params[:controller] == 'admin/pages' ? 'active' : ''%>"><a href="/admin/pages">常规页面设置</a></li>
          <li class="<%= params[:controller] == 'admin/feedbacks' ? 'active' : ''%>"><a href="/admin/feedbacks">反馈列表</a></li>
          <li><a href="">微信公众号集成</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-md-10 main">
				<%= yield %>
			</div>
		</div>
	</div>
  <script type='text/javascript'>
    <% if flash.first %>
      var flashType = "<%= flash.first[0] %>";
      var flashContent = "<%= flash.first[1] %>"
      var type = '';
      switch(flashType) {
        case 'alert':
          type = 'alert-danger';
          break;
        case 'success':
          type = 'alert-success';
          break;
        default:
          type = 'alert-danger';
      }
      show_flash_msg(flashContent, type);
    <% end %>
  </script>
</body>
</html>
